.questionMarkText {
  display: block;
    position: absolute;
    right: 5%;
    top: 1%;
    color: #ff8383;
    font-weight: 500;
  }
  
  .questionMark {
    position: absolute;
    right: 1%;
    top: .5%;
    cursor: pointer;
    width: 1%;
    background-color: #808080;
    color: #f3f4f7;
    align-items: center;
    text-align: center;
    font-weight: 700;
    border: 1px solid #050505;
    border-radius: 50%;
  }
  